body {
    background-color: #000;
    overflow: hidden;
}

main::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 80vw;

    background: linear-gradient(-233deg, #000 5%, rgba(0, 0, 0, 0) 65%) no-repeat;
}

main .personagem {
    display: none;
    height: 100vh;
}

main .personagem.selecionado {
    display: block;
    animation: opacity 1s ease-in-out;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.conteudo {
    position: absolute;
    top: 0;
    left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 389px;
    z-index: 1;
}

.conteudo .nome-personagem {
    color: aliceblue;
    font-size: 48px;
    font-family: "secular one";
    font-weight: 400;
    margin-bottom: 20px;
    filter: drop-shadow(3px 3px 3px rgba(255, 255, 0, 0.639));
}

.conteudo .descricao {
    color: aliceblue;
    font-family: "script";
    font-size: 20px;
    line-height: 22px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.637));
}

.conteudo .logo {
    background-image: url("../imagens/Jujutsu_Kaisen_icon.webp");
    background-size: cover;
    height: 100px;
    width: 230px;
    margin-bottom: cover;
    filter: drop-shadow(3px 3px 3px rgba(255, 255, 0, 0.648));
}

.botoes {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 180px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes pulse {
    0%{
        transform: scale(1);
        filter: brightness(100%);
    }
    100%{
        transform: scale(1.1);
        filter: brightness(110%);
    }
}

.botoes .botao {
    border: none;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
}

.botoes .botao img {
    border-radius: 50%;
}

.botoes .botao.selecionado {
    transform: scale(1.2);
    box-shadow: 0 0 20px #d9d9d9;
    border-radius: 50%;
    animation: pulse 0.6s infinite alternate;
}